services:
  - type: web
    name: db-chat-backend
    env: node
    region: oregon
    plan: free
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        sync: false
      - key: AI_KEY
        sync: false
      - key: NODE_ENV
        value: production
      - key: ALLOWED_ORIGINS
        sync: false